.button_sayhello {
  background-color: rgb(232, 233, 237);
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 12px 0px;
  font-size: small;
}

.nav_opacity {
  font-weight: bold;
}
.animate{
  padding: 30px;
}

.animatein{
  transition: all 0.4s ease-in;
  background-origin: top;
}
.animateout{
  background-origin: bottom;
  background-color: white;
  transition: all 0.4s ease-out;
}
