.content{
    font-family: sofia-pro, system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 0.809;
    font-size: 5vw;
    color: rgb(247, 248, 251);
    font-weight: 600;
    letter-spacing: -0.04em;
}
.gray{
    color: rgb(96, 99, 123);
}
.responsive_image{
    width:400px;
    border-radius:15px;
    transition: all 0.3s ease-in;
}
.animate{
    transform: scale(1);
    transition: all 0.3s ease-in;
}
.animate:hover{
    transition: all 0.3s ease-out;
    transform: scale(0.98);
}
.responsive_image:hover{
    transition: all 0.3s ease-out;
    transform: scale(0.98);
}
